<strong>Olá, {{ organizer }}</strong>
<p>Alguém confirmou presença no {{ title }}. Confira os detalhes abaixo:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <br />
</p>
